* {
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  background-color: var(--colorPrimary);
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2%;
}
